force-app/main/default/flows/Lead_Email_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Append_Email_with_Z</name>
        <label>Append Email with Z</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEmail</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Email_Length</name>
        <label>Check Email Length</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Length_less_than_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailLength1</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Email_with_Z</targetReference>
            </connector>
            <label>Length less than 20</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>emailLength1</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.Email})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>newEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Email} + &quot;Z&quot;</expression>
    </formulas>
    <interviewLabel>Lead Email Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Email Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Email_Length</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emailLength</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
