force-app/main/default/flows/Update_Account_and_Opportunity_based_on_zip_code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Opportunity_to_Collection</name>
        <label>Add Opportunity to Collection</label>
        <locationX>490</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>AddOpportunity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOppValues</name>
        <label>setOppValues</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Iterate_collection.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Zip_Code</name>
        <label>Check Zip Code</label>
        <locationX>490</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Starts_with_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ZipCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Industry</targetReference>
            </connector>
            <label>Starts with 5</label>
        </rules>
        <rules>
            <name>Starts_With_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ZipCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Starts With 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Blank</name>
        <label>Is Blank</label>
        <locationX>534</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_there_are_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_collection</targetReference>
            </connector>
            <label>If there are records</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ZipCode</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingPostalCode}</expression>
    </formulas>
    <interviewLabel>Update Account and Opportunity based on zip code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account and Opportunity based on zip code</label>
    <loops>
        <name>Iterate_collection</name>
        <label>Iterate collection</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setOppValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>534</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Industry</name>
        <label>Update Industry</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <stringValue>Biotechnology</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <inputReference>AddOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Zip_Code</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AddOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
